package protocol

import (
	"bytes"
	"io"
	"gfx.cafe/util/go/bufpool"
)

// codegen: modify for debug only

var _ bytes.Buffer
var _ io.Reader

{{define "fieldTypeNoArr" -}}
    {{$parent := (index . 0) -}}
    {{$field := (index . 1) -}}

    {{if $field.Struct -}}
        Fields{{$parent}}{{$field.Name}}
    {{- else if $field.Type -}}
        {{$field.Type}}
    {{- end -}}
{{end -}}

{{define "fieldType" -}}
    {{$parent := (index . 0) -}}
    {{$field := (index . 1) -}}

    {{if or $field.LengthPrefixed $field.ArrayLength $field.While -}}
        []
    {{- end -}}
    {{template "fieldTypeNoArr" (list $parent $field) -}}
{{end -}}

{{define "declareField" -}}
    {{$parent := (index . 0) -}}
    {{$field := (index . 1) -}}

    {{$field.Name}} {{template "fieldType" (list $parent $field)}}
{{end -}}

{{define "readFieldL1" -}}
    {{$parent := (index . 0) -}}
    {{$field := (index . 1) -}}
    {{$location := (index . 2) -}}

    {{if $field.Struct -}}
        err = {{$location}}.Read(payloadLength, reader)
        if err != nil {
            return
        }
    {{- else if $field.Type -}}
        {{$location}}, err = Read{{camelCase $field.Type}}(reader)
        if err != nil {
            return
        }
    {{- end -}}
{{end -}}

{{define "readField" -}}
    {{$parent := (index . 0) -}}
    {{$field := (index . 1) -}}

    {{if $field.If -}}
        if {{$field.If}} {
    {{end -}}

    {{if $field.LengthPrefixed -}}
        var {{$field.Name}}Length {{$field.LengthPrefixed}}
        {{$field.Name}}Length, err = Read{{camelCase $field.LengthPrefixed}}(reader)
        if err != nil {
            return
        }
        if {{$field.Name}}Length == {{$field.LengthPrefixed}}(-1) {
            {{$field.Name}}Length = 0
        }
    {{else if $field.ArrayLength -}}
        {{$field.Name}}Length := {{$field.ArrayLength}}
    {{end -}}

    {{if or $field.LengthPrefixed $field.ArrayLength -}}
        T.{{$field.Name}} = make({{template "fieldType" (list $parent $field)}}, int({{$field.Name}}Length))
        for i := 0; i < int({{$field.Name}}Length); i++ {
            {{template "readFieldL1" (list $parent $field (printf "T.%s[i]" $field.Name))}}
        }
    {{else if $field.While -}}
        var P {{template "fieldTypeNoArr" (list $parent $field)}}
        for ok := true; ok; ok = {{$field.While}} {
            var newP {{template "fieldTypeNoArr" (list $parent $field)}}
            {{template "readFieldL1" (list $parent $field "newP")}}
            T.{{$field.Name}} = append(T.{{$field.Name}}, newP)
            P = newP
        }
    {{else -}}
        {{template "readFieldL1" (list $parent $field (printf "T.%s" $field.Name))}}
    {{end -}}

    {{if $field.If -}}
        }
    {{end -}}
{{end -}}

{{define "writeFieldL1" -}}
    {{$parent := (index . 0) -}}
    {{$field := (index . 1) -}}
    {{$location := (index . 2) -}}

    {{if $field.Struct -}}
        temp, err = {{$location}}.Write(writer)
        if err != nil {
            return
        }
        length += temp
    {{- else if $field.Type -}}
        temp, err = Write{{camelCase $field.Type}}(writer, {{$location}})
        if err != nil {
            return
        }
        length += temp
    {{- end -}}
{{end -}}

{{define "writeField" -}}
    {{$parent := (index . 0) -}}
    {{$field := (index . 1) -}}

    {{if $field.If -}}
        if {{$field.If}} {
    {{end -}}

    {{if $field.LengthPrefixed -}}
        temp, err = Write{{camelCase $field.LengthPrefixed}}(writer, {{$field.LengthPrefixed}}(len(T.{{$field.Name}})))
        if err != nil {
            return
        }
        length += temp
    {{end -}}

    {{if or $field.LengthPrefixed $field.ArrayLength $field.While -}}
        for _, v := range T.{{$field.Name}} {
            {{template "writeFieldL1" (list $parent $field "v")}}
        }
    {{else -}}
        {{template "writeFieldL1" (list $parent $field (printf "T.%s" $field.Name))}}
    {{end -}}

    {{if $field.If -}}
        }
    {{end -}}
{{end -}}

{{define "declareFields" -}}
    {{$parent := (index . 0) -}}
    {{$struct := (index . 1) -}}

    {{range $idx, $field := $struct.Fields -}}
        {{if $field.Struct -}}
            {{template "declareFields" (list (printf "%s%s" $parent $field.Name) $field.Struct)}}
        {{- end -}}
    {{end -}}

    type Fields{{$parent}} struct {
        {{range $idx, $field := $struct.Fields -}}
            {{template "declareField" (list $parent $field) -}}
        {{end -}}
    }

    func (T *Fields{{$parent}}) Read(payloadLength int, reader io.Reader) (err error) {
        {{range $idx, $field := $struct.Fields -}}
            {{template "readField" (list $parent $field) -}}
        {{end -}}
        return
    }

    func (T *Fields{{$parent}}) Write(writer io.Writer) (length int, err error) {
        var temp int
        {{range $idx, $field := $struct.Fields -}}
            {{template "writeField" (list $parent $field) -}}
        {{end -}}
        _ = temp
        return
    }
{{end -}}

{{range $name, $packet := . -}}
    {{template "declareFields" (list $name $packet) -}}

    type {{$name}} struct {
        Fields Fields{{$name}}
    }

    // Read reads all but the packet identifier
    {{if $packet.Identifier -}}
        // WARNING: This packet DOES have an identifier. Call protocol.Read or trim the identifier first!
    {{end -}}
    func (T *{{$name}}) Read(reader io.Reader) (err error) {
        var length int32
        length, err = ReadInt32(reader)
        if err != nil {
            return
        }
        return T.Fields.Read(int(length - 4), reader)
    }

    func (T *{{$name}}) Write(writer io.Writer) (length int, err error) {
        buf := bufpool.Get(0)
        defer bufpool.Put(buf)
        length, err = T.Fields.Write(buf)
        if err != nil {
            length = 0
            return
        }
        {{if $packet.Identifier -}}
            _, err = WriteByte(writer, byte('{{$packet.Identifier}}'))
            if err != nil {
                length = 1
                return
            }
        {{end -}}
        _, err = WriteInt32(writer, int32(length) + 4)
        if err != nil {
            length += 5
            return
        }
        length += 5
        _, err = writer.Write(buf.Bytes())
        return
    }

    var _ Packet = (*{{$name}})(nil)

{{end -}}
